{
  "root": true,
  "extends": ["@yozora"],
  "rules": {
    "import/no-named-as-default": 0
  },
  "overrides": [
    {
      "files": ["**/*.js"],
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "requireConfigFile": false,
        "allowImportExportEverywhere": true
      }
    },
    {
      "files": ["**/*.mjs"],
      "extends": ["@guanghechen", "prettier"],
      "parser": "@typescript-eslint/parser"
    },
    {
      "files": ["packages/ast/src/nodes/**/*.ts"],
      "rules": {
        "@typescript-eslint/no-redeclare": 0
      }
    }
  ]
}
