**/__tmp__/**
**/build/**
**/coverage/**
**/demo/**
**/dist/**
**/doc/**
**/example/**
**/lib/**
**/node_modules/**
**/target/**
**/release/**
**/vendor/**
**/*.styl.d.ts
*.tsbuildinfo

**/fixtures/cases/**
**/__test__/cases/**
scaffolds/template-tokenizer/index.js
