**/.vscode/
**/__test__/cases/
**/__tmp__/
**/coverage/
**/boilerplate/
**/demo/
**/dist/
**/doc/
**/example/
**/fixtures/
**/lib/
**/node_modules/
**/resource/
**/resources/
**/test/
**/*.styl.d.ts


**/*.*
!**/*.ts
!**/*.tsx
!**/*.js
!**/*.jsx
!**/*.json
!.eslintignore
!.eslintrc


scaffolds/template-tokenizer/index.js
packages/character/src/constant/entity.ts
