**/*.*
!**/*.ts
!**/*.tsx
!**/*.js
!**/*.jsx
!**/*.json
!**/*.mjs
!**/*.mts
!.eslintignore
!.eslintrc

**/.vscode/
**/__test__/cases/
**/__tmp__/
**/coverage/
**/boilerplate/
**/demo/
**/dist/
**/doc/
**/example/
**/fixtures/
**/lib/
**/node_modules/
**/resource/
**/resources/
**/*.styl.d.ts

packages/character/src/constant/entity.ts
