{
  "root": true,
  "extends": ["@yozora/eslint-config"],
  "rules": {},
  "overrides": [
    {
      "files": ["**/*.js"],
      "parser": "@babel/eslint-parser",
      "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "requireConfigFile": false,
        "allowImportExportEverywhere": true
      }
    }
  ]
}
