.DS_Store

__tmp__/
lib/
build/
coverage/
dist/
node_modules/
release/
target/
**/*.styl.d.ts

*.tsbuildinfo
tmp/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
lerna-debug.log*
npm-error.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

.yarn/*
!.yarn/plugins
!.yarn/releases

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
