registry=https://registry.npmjs.org/
sign-git-tag=true
tag-version-prefix="v"
message=":bookmark:  v%s"
access=public

# pnpm specific
auto-install-peers=true
strict-peer-dependencies=false
node-linker=hoisted
