**/*.*
!**/*.js
!**/*.jsx
!**/*.ts
!**/*.tsx


**/.vscode/**
**/__tmp__/**
**/build/**
**/coverage/**
**/demo/**
**/dist/**
**/doc/**
**/example/**
**/lib/**
**/node_modules/**
**/target/**
**/release/**
**/vendor/**
**/*.styl.d.ts
*.tsbuildinfo

.prettierrc
packages/character/src/constant/entity.ts
scaffolds/template-tokenizer/boilerplate
