.DS_Store
.eslintignore
.prettierignore

**/*.hbs

.nx/
.yarn/
**/coverage/
**/dist/
**/doc/
**/lib/
**/node_modules/
**/resource/
**/test-workspace
**/__test__/cases/
**/__test__/fixtures/

packages/character/src/constant/entity.ts
