**/*.*
!**/*.js
!**/*.ts
!.eslintrc
!.rollup.config.js
!package.json
!tsconfig.json
!tsconfig.settings.json
!tsconfig.src.json

**/__test__/cases/**

**/.vscode/**
**/__tmp__/**
**/coverage/**
**/demo/**
**/doc/**
**/example/**
**/lib/**
**/node_modules/**
**/*.styl.d.ts
*.tsbuildinfo


**/fixtures/cases/**
scaffolds/template-tokenizer/boilerplate
packages/character/src/constant/entity.ts
